<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8' />
    <title>Darkest Rainbows</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Shadows+Into+Light&family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/scss/style.css" />
    <link rel="stylesheet" type="text/css" href="../static/scss/cursor.css" />
</head>

<body>
    <header id="home-header">
        <nav id="main-nav">
            <!--<ul>
                <li class="nav-item"><a class="nav-link" href="index.html">Accueil</a></li>
                <li class="nav-item"><a class="nav-link" href="index.html">Boutique</a></li>
                <li class="nav-item"><a class="nav-link" href="index.html">À propos</a></li>
            </ul>-->
        </nav>
        <div class="hero">

            <div class="hero-paragraph">
                <!--<h1 id="main-logo">Darkest Rainbows</h1>-->
                <h1>Darkest Rainbows</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur a erat nam at lectus. Odio euismod lacinia at quis. Diam phasellus vestibulum lorem sed risus ultricies tristique nulla. Lacus suspendisse faucibus interdum posuere lorem ipsum. Eget lorem dolor sed viverra ipsum nunc aliquet bibendum. Maecenas sed enim ut sem viverra aliquet. Amet aliquam id diam maecenas ultricies mi eget mauris pharetra. Nullam vehicula ipsum a arcu cursus. Habitant morbi tristique senectus et netus et. Eu volutpat odio facilisis mauris sit amet massa. Risus feugiat in ante metus dictum at tempor commodo ullamcorper.</p><br>
                <p>

                    Felis eget velit aliquet sagittis. Lacus luctus accumsan tortor posuere ac ut. Aliquam sem et tortor consequat id porta nibh. Feugiat in fermentum posuere urna. Iaculis nunc sed augue lacus viverra vitae congue. Habitant morbi tristique senectus et netus et malesuada fames. Sit amet nisl suscipit adipiscing bibendum est ultricies integer quis. Consectetur a erat nam at. Nunc congue nisi vitae suscipit tellus mauris a diam maecenas. Massa ultricies mi quis hendrerit dolor magna eget est lorem. Viverra mauris in aliquam sem. Nisl pretium fusce id velit. Viverra aliquet eget sit amet tellus cras adipiscing enim eu. Eget aliquet nibh praesent tristique magna sit amet purus. Luctus venenatis lectus magna fringilla urna porttitor rhoncus.</p>
            </div>
            <div class="hero-buttons">
                <a class="call-to-action" id="cta-left" href="index.html">Boutique</a>
                <a class="call-to-action" id="cta-middle" href="index.html">Gallerie</a>
                <a class="call-to-action" id="cta-right" href="index.html">Accueil</a>
            </div>
        </div>
    </header>
</body></html>
